@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Mukta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Mooli&family=Mukta:wght@700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');


body {
    height: 100%;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 252, 251);
}

h2 {

    color: white;

}

h5 {

    color: white;

}

.head h5 {
    font-family: Kanit;
    display: flex;
    margin-left: 1.1%;
}

.navbar-nav {
    margin-left: 38%;
    color: white;
}

.navbar-nav a {
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
    font-size: larger;
    font-family: Kanit;
    color: white;
    text-decoration: none;
    margin: 9px 5px 0 6px;
}

.navbar-nav a:hover {
    background-color: rgb(31, 222, 60);
    padding: 0 0px 0 3px;
    color: black;
}

.head {

    display: flex;
    margin-left: 0%;
    height: 10vh;
    width: 100vw;
    background-color: rgb(31, 28, 28);
}

.home {
    line-height: 50px;
letter-spacing: 3px;
    display: flex;
    height: 130vh;
    justify-content: center;
    width: 100vw;
    background-image: url(javier-miranda-bDFP8PxzW1Q-unsplash.jpg);
}

.IMG {
    height: 80vh;
    width: 100vw;
    color: rgb(250, 250, 247);
    background: transparent;
}

.IMG h1 {
    margin-bottom: 2%;
    margin-left: 35%;
    margin-top: 6%;
    font-family: Kanit;
    animation: slide;
    animation-duration: 4s;
    animation-delay: .5s;
}
@keyframes slide{
    from{
        transform: translateY(-80px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
       
    }
}
@keyframes slide1{
    from{
        transform: translateY(-20px);
        opacity: 0;
    }
    to{
        transform: translateY(10px);
        opacity: 1;
       
    }
}

.IMG h2 {
    color: rgb(249, 247, 247);
    margin-left: 19%;
    margin-top: 0%;
    font-family: Raleway;
    animation: slide 4s  .5s   ;
}

.IMG h3 {

    color: rgb(243, 243, 238);
    margin-left: 4%;
    animation: fade 7s;
    margin-top: 0%;
    font-family: Kanit;
    font-size: larger;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Gallery {
    display: flex;
    height: 120vh;
    margin-top: 2%;
    width: 100vw;
    background-image: url(yassine-ait-tahit-DibTyzxfPYc-unsplash.jpg);
   

}

.facualty {
    letter-spacing: 2px;
    color: rgb(9, 9, 9);
    position: relative;
    overflow: auto;
    display: flex;
    height: 130vh;
    justify-content: center;
    width: 100vw;
 background-color: white;
 

}

.hidden {
    display: none;
}

#panel {
    color: #0b0b0b;
    width: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateY(-100%);
}


.hod{
    margin-left: 0%;
    height: fit-content;
    font-family: 'Autour One', cursive;
    font-size: 20px;
    padding: 2%;
    
    
}
.hod u{
    padding-left: 36%;
}
.prof i{
    text-decoration: underline;
    margin-left: 32%;
}
.pic{
    font-family: Raleway;
    align-content: center;
    height: fit-content;
   text-align: center;
    font-size: 18px;
    padding: 1%;
}
.pic img{
    padding-left: 28%;
}
.prof{
    padding-left: 15%;
    padding-top: 1%;
}
.sn{
    margin-right: 10%;
   margin-top: 4%;
   margin-bottom: 4%;
    border: solid 3px rgb(246, 244, 244);
    display: flex;
}
.pic1{
    display: inline;
    font-family: Raleway;
    align-content: center;
    height: fit-content;
   text-align: left;
    font-size: 14px;
    padding: 4%;
}
.sri{
    margin-right: 10%;
   margin-top: 4%;
   margin-bottom: 4%;
    border: solid 3px rgb(249, 247, 247);
    display: flex;
}
.pic2{
    display: inline;
    font-family: Raleway;
    align-content: center;
    height: fit-content;
   text-align: left;
    font-size: 14px;
    padding: 3%;
}

.notice {
    background-color: rgb(255, 254, 254);
    display: flex;
    height: 60vh;
    justify-content: center;
    width: 100vw;
    font-family: raleway;

}
.lnot{background-color: #fff;
    overflow: hidden;
    justify-content: center;
    padding: 1%;
    margin-left: 5%;
    margin-right: 10%;
    display: block;
    margin-top: 2%;
    width: 30vw;
    height: 50vh;
    border: solid;
    color: rgb(12, 12, 12);
    border-color: #fcfafa;
}
.not{
    display:flex;
}
.not li{
    text-decoration: none;
    padding: 0;
}
.not a{
    font-weight: bolder;
    text-decoration: none;
    color: rgb(11, 11, 11);
}
.not a:hover{
    color:#9baf42;
}
.mnot{
   padding: 1%;
    display: flex;
    margin-top: 2%;
    width: 20vw;
    height: 50vh;
    border-radius: 14px;
    border: solid;
    border-color: #080808;
}
.pic img{
    margin-left: 14%;
    display: flex;
    width: 20vh;
    height: 23vh;
}
.rnot{
    cursor: pointer;
    color: rgb(249, 248, 248);
    margin-left: 3%;
     margin-top: 6%;
     border: 5px solid ;
    border-color: #0c0c0b;
    display: flex;
    width: 37vw;
    background-color: #232121;
    height: 30vh;
    border-radius: 14px;
    padding: 2%;
    font-style: italic;
    font-family: Kanit;
}
.rnot e {
    color: white;
    display: flex;
}
.rnot:hover{
    background-color: #f9f6f6;
    color: rgb(2, 2, 2);
    border: none;
    transform: translateY(-20px);
    transition: .3s;
}

.foot {
    display: block;
    height: 270px;
    width: 98vw;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-top: 15px;
    color: rgb(11, 13, 13);
    background: rgb(67,67,67);
    background: linear-gradient(0deg, rgba(67,67,67,1) 0%, rgb(87, 183, 238) 55%);
    font-weight: 800;
}

.foot svg {
    color: azure;
    font-size: 200px;
    margin-right: 4px;
}
.con{
    display: flex;
    margin-right: 90px;
    padding-left: 450px;
}
.con svg{
    margin-right: 40px;
}
.con svg:hover{
    transform: translateY(-4px);
    cursor: pointer;
}

.foot p{
    padding-top: 10px;
    font-family: Kanit;
    padding-left: 28px;
    font-weight: lighter;
    font-size: medium;
}
.rfoot{
    display: flex;
}

.lfoot{
    display: flex;
    margin-left: 100px;
    
}

.lfoot a{
    text-decoration: none;
    color: #090909;
}
.lfoot a:hover{
    color: #3c3c2e;
}

.infoo{
    margin-left: 120px;
 
}

.infoo a{
       text-decoration: none;
       color: #050505;
}
.infoo a:hover{
    color: #3c3c2e;
}

.infu{
    margin-left: 100px;
}

.dropbtn {
    padding-top: 4px;
    background-color: transparent;
    color: rgb(246, 239, 239);
    padding: 6px;
    font-size: 15px;
    border-color: #050505;
    font-family: Kanit;
    border-radius: 5%;
}

.dropbtn img {
    padding-top: 0px;
}

.i {
    display: inline;
    margin-left: 60px;
}


.dropdown {
    margin-top: 12px;
    margin-left: 24.5%;
    margin-bottom: 1%;
    font-weight: 1000;
    position: relative;
    display: inline-block;
}

.dropdown2 {
    margin-top: 12px;
    margin-left: 4%;
    margin-bottom: 1%;
    font-weight: 1000;
    position: relative;
    display: inline-block;
}



.dropdown4 {
    margin-top: 12px;
    margin-left: 4%;
    margin-bottom: 1%;
    font-weight: 1000;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #0b0b0b;
    min-width: 1px;
    box-shadow: 0px 8px 16px 0px rgba(214, 84, 3, 0.2);
    z-index: 1;
    border:.1mm white solid;
    border-radius: 0%;
}


.dropdown2-content {
    display: none;
    position: absolute;
    background-color: #0b0a0a;
   width: 203px;
    border:.1mm white solid;
    box-shadow: 0px 8px 16px 0px rgba(214, 84, 3, 0.2);
    z-index: 1;
}

.dropdown4-content {
    display: none;
    position: absolute;
    background-color: #090808;
    border:.1mm white solid;
    box-shadow: 0px 8px 16px 0px rgba(214, 84, 3, 0.2);
    z-index: 1;
}
ul{
    padding: 0;
    list-style: none;
}


.dropdown-content a {
    color: rgb(251, 249, 249);
   padding-left: 20px;
    width: 146px;
    text-decoration: none;
    display: block;
    font-family: Kanit;
}




.dropdown4-content a {
    color: rgb(208, 207, 207);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: Kanit;
}

.dropdown2-content a {
    color: rgb(214, 211, 211);
    padding-left: 45px;
    padding-right: 24px;
    text-decoration: none;
    display: block;
    font-family: Kanit;
}

.dropbtn:hover{
    
}
.dropdown-content a:hover {
    background-color: #f8f4f4;
    color: #050505;
    transition: 1.6s;
}

.dropdown:hover .dropdown-content {
    display: flex;
    animation: slide1;
    animation-duration: 1s;
}

.dropdown:hover .dropbtn {
    background-color: #0a0a0a;
    border-color: #090909;
    color: rgb(237, 239, 241);
    cursor: pointer;
}

.dropdown2-content a:hover {
    background-color: #f6f3f3;
    color: #050505;
    transition: 1.2s;
}

.dropdown2:hover .dropdown2-content {
    display: flex;
    animation: slide1;
    animation-duration: 1s;
}

.dropdown2:hover .dropbtn {
    background-color: #080808;
    border-color: #0a0909;
    color: aliceblue;
    cursor: pointer;
}

.dropdown4-content a:hover {
    background-color: #fbf9f9;
    color: #050505;transition: 1.2s;
}

.dropdown4:hover .dropdown4-content {
    display: flex;
    animation: slide1;
    animation-duration: 1s;
}

.dropdown4:hover .dropbtn {
    background-color: #080808;
    border-color: #090909;
    color: aliceblue;
    cursor: pointer;
}


.wel{
    margin-left: 260px;
    font-size: xx-large;
    margin-top: 30px;
    font-family: Kanit;
}
.inf{
    margin-left: 370px;
    font-family: Raleway;
    font-size: large;
    margin-top: 5px;
    font-style: italic;
}
.igit{
    margin-left: 500px;
    margin-top: 15px;
    
}
.igit button{
    height: 8vh;
    background-color: #92ee08;
    border-color: #0a0909;
    border-radius: 10px;
}
.igit button a{
    text-decoration: none;
    margin: 30px;
    color: #0b0a0a;
    font-size: medium;
    font-family: kanit;

}
.igit button:hover{
    background-color: #d8e70c;
}
.slideshow-container {
    width: 100vw;
    position: relative;
    margin: 0px;
}

/* Style for individual slides */
.mySlides {
    display: none;
    
}
.text{
    margin-left: 29%;
    margin-top: 5%;
    width: 40vw;
    height: max-content;
    display: block;
    justify-content: center;
}
.text h1 {
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto; 
    background-color: rgb(163, 196, 63);
    letter-spacing: .10em; 
    animation: 
      typing 3.5s steps(20, end),
      blink-caret .55s step-end infinite;
    animation-iteration-count: infinite;
    animation-duration: 6s;
  }
  
 
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
 
  @keyframes blink-caret {
    from, to { border-color: transparent }
    30% { border-color: rgb(8, 8, 7); }
  }

.mySlides img{
    padding-top: 1.2%;
    padding-left: 1.8%;
    max-height: 110vh;
    min-height: 110vh;
    max-width: 96vw;
    min-width: 96vw;
    border-radius: 14px;
}
.bb{
    top: 45%;
    left: 46.8%; 
    border: #050505 solid; 
    border-radius: 50%; 
    position: absolute;
    padding-left: 1.1%;
    padding-top: 1.6%;
    padding-right: 2.2%;
    padding-bottom: 1.8%;
    height: 5.7vh;
    width: 2.8vw;
    background-color: #f9f2f2;
    color: white;
   
}
.bb:hover{
    opacity: .7;
}

.bb button{
    width: 2vh;
    height: 2vh;
    background-color: #fcfafa;
    border: 0;
}
.bb a{
    text-decoration: none;
    color: rgb(12, 10, 10);
}

/* Style for the slideshow navigation dots */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.d{
    
    margin-left: 300px;
}

/* Style for active dot */
.active {
    background-color: #717171;
}
.prev, .next {
    background-color: #060606;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: background-color 0.3s ease;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Pointer hover effect */
.prev:hover, .next:hover {
    background-color: rgba(186, 166, 166, 0.8);
}
@media screen and (max-width: 800px) {
    
}
.home p a{
    text-decoration: none;
    color: white;
}
.home p a:hover{   
    text-decoration: underline;

}
.c{
    font-family: Mukta;
    font-size:x-large;
    text-decoration: underline;
    margin-left: 563px;
    margin-bottom: 10px;
}